# Node modules
node_modules/

# Build directories
dist/
build/

# Logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Environment files
.env

# IDE and editor folders
.vscode/
.idea/

# OS specific files
*.swp
*.swo

# MacOS system files
*.DS_Store

# Yarn files (if you're using yarn)
yarn.lock

# Firebase and other secret configuration files
firebase.json
.env.local